$icomoon-font-family: "fl-icons" !default;
$icomoon-font-path: "fonts" !default;

$fl-angle-up: "\e905";
$fl-badge: "\e90a";
$fl-bar: "\e901";
$fl-bar-close: "\e902";
$fl-chevron-circle-right: "\e90b";
$fl-facebook: "\e907";
$fl-info: "\e90c";
$fl-instagram: "\e908";
$fl-logo: "\e900";
$fl-shape-shear: "\e906";
$fl-star: "\e903";
$fl-stars: "\e904";
$fl-trophy: "\e90d";
$fl-twitter: "\e909";
$fl-whistle: "\e90e";
$fl-whistle-cirlcle: "\e90f";
$fl-winners: "\e910";

