//
// Grid
// --------------------------------------------------

// Tiny grid gutters
.row.gutters-sm {
    margin-right: (-($space-row-gutter-sm / 2));
    margin-left: (-($space-row-gutter-sm / 2));

    >.col,
    >[class*="col-"] {
        padding-left: ($space-row-gutter-sm / 2);
        padding-right: ($space-row-gutter-sm / 2);
    }
}

.row.gutters-md {
    margin-right: (-($space-row-gutter-md / 2));
    margin-left: (-($space-row-gutter-md / 2));

    >.col,
    >[class*="col-"] {
        padding-left: ($space-row-gutter-md / 2);
        padding-right: ($space-row-gutter-md / 2);
    }
}
